<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li class="text-muted menu-title">Dashboard</li>

                <li class="has_sub">
                    <a id="dashboard-sidebar" href="${rc.contextPath}/" class="waves-effect">
                        <i class="ti-home"></i><span>系统首页</span>
                    </a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
                        <i class="ti-paint-bucket"></i>
                        <span class="label label-info pull-right">3</span><span>系统日志</span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="${rc.contextPath}/dict">字典管理</a></li>
                        <li><a href="${rc.contextPath}/dict2">系统日志</a></li>
                        <li><a href="${rc.contextPath}/dict3">系统日志</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
                        <i class="ti-light-bulb"></i>
                        <span>系统日志</span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="${rc.contextPath}/">系统日志</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
                        <i class="ti-spray"></i>
                        <span>模型管理</span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="${rc.contextPath}/">模型列表</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
                        <i class="ti-pencil-alt"></i>
                        <span>数据字典</span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="${rc.contextPath}/">字典管理</a></li>
                    </ul>
                </li>

                <li class="text-muted menu-title">系统管理</li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
                        <i class="ti-files"></i>
                        <span class="label label-info pull-right">2</span><span>系统日志</span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="${rc.contextPath}/">系统日志</a></li>
                        <li><a href="${rc.contextPath}/">系统日志</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
                        <i class="ti-crown"></i>
                        <span class="label label-info pull-right">2</span><span>日志统计</span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="${rc.contextPath}/">日志统计</a></li>
                        <li><a href="${rc.contextPath}/">日志统计</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End  ========== -->